/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.Button {
    -fx-text-fill: white;
	-fx-font-family: "Verdana";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-stroke: black;
    -fx-stroke-width:5;    
}

.Label {
	-fx-text-fill: white;
	-fx-stroke: black;
    -fx-stroke-width: 5;
    -fx-font-family: "Verdana";
    -fx-font-size: 36;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.Label:focused {
    -fx-background-color: #3a3a3a;
}
